*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{

    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:linear-gradient(
        135deg,
        #ff4b2b,
        #ff416c,
        #7f00ff,
        #00c6ff
    );

    background-size:400% 400%;

    animation:bg 10s infinite alternate;
}

@keyframes bg{

    0%{background-position:left;}
    100%{background-position:right;}

}


/* main card */

.container{

    width:950px;
    height:540px;

    display:flex;

    border-radius:25px;

    backdrop-filter:blur(20px);

    background:rgba(0,0,0,0.4);

    box-shadow:
    0 0 50px rgba(0,0,0,0.7);

    overflow:hidden;
}


/* left */

.left{

    width:50%;

    padding:60px;

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.left h1{

    font-size:42px;
    margin-bottom:20px;
}

.left p{

    color:#ddd;
    margin-bottom:20px;
}

.left button{

    width:140px;

    padding:12px;

    border:none;

    border-radius:25px;

    background:linear-gradient(
        45deg,
        #00c6ff,
        #0072ff
    );

    color:white;

    cursor:pointer;
}


/* right */

.right{

    width:50%;

    display:flex;
    justify-content:center;
    align-items:center;
}


/* login card */

.login-card{

    width:300px;

    padding:30px;

    border-radius:15px;

    background:rgba(255,255,255,0.1);

    backdrop-filter:blur(15px);

    box-shadow:
    0 0 20px rgba(0,0,0,0.6);

    text-align:center;
}

.login-card h2{

    color:white;
    margin-bottom:15px;
}


/* inputs */

.login-card input{

    width:100%;

    padding:12px;

    margin:10px 0;

    border:none;

    border-radius:6px;

    background:#111;

    color:white;

    outline:none;
}


/* login button */

.login-card button{

    width:100%;

    padding:12px;

    margin-top:10px;

    border:none;

    border-radius:6px;

    background:linear-gradient(
        45deg,
        #ff416c,
        #ff4b2b
    );

    color:white;

    cursor:pointer;

    font-weight:bold;
}


/* signup link */

.signup{

    margin-top:10px;
    color:#00c6ff;
    cursor:pointer;
}